*
	padding 0
	margin 0
	box-sizing border-box

body
	height 100vh	
	background #e8eff5
	background linear-gradient(to bottom,  #e8eff5 0%,#8292b2 31%,#8292b2 31%,#976281 59%,#ab3a50 100%)
	filter blur(100%)
